<!-- video/tpl/video-detail-info-update.html -->
<div class="item-wrapper">
	<div id="video-player" class="video-player">
		<div id="video_in_process" class="in-process hide">
			<%= _t('Video is being processed.') %>
		</div>
		<div id="mp4_uploaded_player" class="mp4-uploaded-player hide">
			<!-- <video controls id="video_player_control" class="hide">
	            <source src="" type="video/mp4">
	        </video> -->
		</div>
		<div id="video_embed_iframe" class="video-embed-iframe hide">
			
		</div>
	</div>
	<div class="item-footer">
		<div class="item-headline">
			<a href="<%= item.getUrl() %>"><%= item.getTitle() %></a>
		</div>
		<div class="item-subline">
			<%= _t('by') %> <a href="<%= item.getPosterUrl() %>"><%= item.getPosterTitle() %></a>
			<div class="item-subline-time">
				<i class="icon icon-time"></i>
				<span class="livetime" data-livetime="<%= item.getTimestamp() %>"><%= item.getLivetime() %></span>
			</div>
		</div>
		<div class="item-description">
			<%= utils.str.shorten(item.getDescriptionParsed(), 250, true) %>
		</div>
	</div>
	<div class="pvm"></div>
	<div class="actions-justify gray">
		<div class="action-item <%= item.isRated()?'rated':'' %>" id="<%= item.getDataId('rate') %>" rel="delegate">
			<span class="text-info"><%= item.getRateValue() %></span>
			<i class="icon icon-activity-rate"></i>
		</div>
		<div class="action-item <%= item.isLiked()?' liked':'' %>" id="<%= item.getDataId('like') %>" rel="delegate">
			<span class="text-info"><%= item.getLikeCount() %></span>
			<i class="icon icon-activity-like"></i>
		</div>
		<% if(item.canComment()){%>
		<div class="action-item" id="<%= item.getDataId('comment') %>" rel="delegate" data-display="focus">
			<span class="text-anchor"><%= item.getCommentCount() %></span>
			<i class="icon icon-activity-comment"></i>
		</div>
		<%} %>
		<% if(item.canShare()) { %>
		<div class="action-item" id="<%= item.getDataId('share') %>" rel="delegate" data-fixtop="true">
			<i class="icon icon-activity-share"></i>
		</div>
		<%} %>
	</div>
</div>
