<div class="search-simple">
	<div id="adv_search_toggle_btn" class="btn-advance-search"></div>
	<div class="form-search-group">
		<span id="search_icon" class="icon-search"></span>
		<input type="text" class="input-search control-full" id="search_keywords" placeholder="<%= _t('search_video') %>" value="">
	</div>
</div>
<div id="adv_search_holder" class="search-advanced hide">
	<div class="form-search-group inline">
		<div class="form-group">
			<select class="control-full" id="search_category">
                <option value="0" selected="true"><%= _t('all_categories') %></option>
            </select>
        </div>
        <div class="form-group">
			<select class="control-full" id="search_order">
               <option value="creation_date" selected="true"><%= _t('most_recent') %></option>
               <option value="view_count"><%= _t('most_viewed') %></option>
               <option value="rating"><%= _t('highest_rated') %></option>
            </select>
        </div>
	</div>
	<div class="form-search-submit">
		<input type="button" class="btn btn-primary btn-small-fluid" id="search_btn" value="<%= _t('search') %>">
	</div>
</div>