<div class="setting-list prevent-video-overlay">
	<%if (item.canDislike()) {%>
	<div class="setting-item <%if (this.model.getDislikeCount() < 1) {%>hide<%}%>" id="dislike-list"></div>
    <div class="setting-item" id="<%=item.getDataId('dislike')%>" rel="delegate">
        <%= item.isDisliked() ? _t('remove_dislike') : _t('dislike')%>
    </div>
    <%}%>
    <%if (item.canEdit()) {%>
	<a class="menu-item" href="#videos/edit/<%= item.getId()%>"><%= _t('edit') %></a>
	<%}%>
	<%if (item.canDelete()) {%>
	<a class="menu-item" rel="delegate" id="<%= item.getDataId('delete') %>"><%= _t('delete') %></a>
	<%}%>
	<%if (!item.isOwner()) {%>
	<a class="menu-item" id="<%= item.getDataId('report') %>" rel="delegate"><%= _t('report') %></a>
	<%}%>
</div>