<div class="blog-add-form">
    <div class="form-general">
        <!-- form content -->
        <div class="form-title">
            <%= _t('Title') %>
        </div>
        <div class="form-group">
            <input type="text" class="control-full" id="blog_form_title" placeholder="<%= _t('Title') %>" value="" />
        </div>

        <div class="form-title">
            <%= _t('Post') %>
            <span id="insert_image_btn" class="btn-form-insert-image">+ <%=_t('Insert Image')%></span>
        </div>
        <div class="form-group">
            <textarea id="blog_form_post" class="control-full textarea" placeholder="<%= _t('Post') %>"></textarea>
        </div>

        <div class="form-title">
            <%= _t('Categories') %>
        </div>
        <div class="form-group form-group-flex">
            <div class="categories-btn action-item" data-filter="public">
                <span><%=_t('Public')%></span>
            </div>
            <div class="categories-btn action-item" data-filter="personal">
                <span><%=_t('Personal')%></span>
            </div>
        </div>

        <div class="form-title">
            <%= _t('Status') %>
        </div>
        <div class="form-group">
            <select class="control-full" id="blog_form_status">
                <option value="publish"><%=_t('Publish')%></option>
                <option value="draft"><%=_t('Draft')%></option>
            </select>
        </div>

        <div class="form-title">
            <%= _t('View Privacy') %>
        </div>
        <div class="form-group">
            <select class="control-full" id="blog_form_privacy">
                <%_.each(view_options, function (option) {%>
    			<option value="<%=option.sValue%>"><%=option.sPhrase%></option>
    			<%});%>
            </select>
        </div>

        <div class="form-title">
            <%= _t('Comment Privacy') %>
        </div>
        <div class="form-group">
            <select class="control-full" id="blog_form_privacy_comment">
                <%_.each(comment_options, function (option) {%>
    			<option value="<%=option.sValue%>"><%=option.sPhrase%></option>
    			<%});%>
            </select>
        </div>

        <div class="form-title">
            <%= _t('Attachments') %>
        </div>
        <div class="form-group form-group-flex">
            <div class="action-item" id="attach_gallery_btn">
                <i class="icon icon-attachment-gallery"></i>
            </div>
            <div class="action-item" id="attach_link_btn">
                <i class="icon icon-attachment-link"></i>
            </div>            
        </div>

        <div>
            <div class="clearfix" id="attachment_photo_holder">
            </div>
            <div class="clearfix" id="attachment_link_holder">
            </div>
        </div>
    </div>
</div>