<div class="poll-add-form">
<div class="form-general" id="poll_add_form_content">
    <!-- form content -->
    <div class="<%if (!perms.canEditTitle()) {%>hide<%}%>">
        <div class="form-title">
            *<%=_t('Question')%>
        </div>
        <div class="form-group">
            <input type="text" class="control-full" id="poll_form_question" placeholder="<%=_t('Question')%>" value="<%=item.getQuestion()%>"/>
        </div>

        <div class="form-title">
            <%=_t('Privacy')%>
        </div>
        <div class="form-group">
            <select class="control-full" id="poll_form_privacy">
                <%_.each(data.view_options, function (option) {%>
                <option value="<%=option.sValue%>" <%if (option.sValue == item.getPrivacyId()) {%>selected="selected"<%}%>><%=option.sPhrase%></option>
                <%});%>
            </select>
        </div>

        <div class="form-title">
            <%=_t('Comment Privacy')%>
        </div>
        <div class="form-group">
            <select class="control-full" id="poll_form_privacy_comment">
                <%_.each(data.comment_options, function (option) {%>
                <option value="<%=option.sValue%>" <%if (option.sValue == item.getPrivacyCommentId()) {%>selected="selected"<%}%>><%=option.sPhrase%></option>
                <%});%>
            </select>
        </div>

        <div class="form-title">
            <%=_t('Public Votes')%>
        </div>
        <div class="form-group">
            <select class="control-full" id="poll_form_hide_vote">
                <option value="0"><%=_t('Yes')%></option>
                <option value="1" <%if (item.isHideVote()) {%>selected="selected"<%}%>><%=_t('No')%></option>
            </select>
        </div>

        <div class="form-title">
            <%=_t('Image')%>
        </div>
        <div class="form-group">
            <div class="clearfix" id="attachment_photo_holder">
            </div>
            <div id="photo_add_btn" class="btn-form-photo"></div>
        </div>
    </div>

    <div class="<%if (!perms.canEditQuestion()) {%>hide<%}%>">
        <div class="form-title">
            *<%=_t('Answers')%>
        </div>
        <%_.each(item.getAnswers(), function(answer, index) {%>
        <div class="form-group">
            <input type="text" class="control-full poll-form-answer" id="" value="<%=answer.getAnswer()%>" data-id="<%=answer.getId()%>" />
            <span class="btn-form <%=(index == 0) ? 'icon-answer-plus' : 'icon-answer-minus'%>"></span>
        </div>
        <%});%>
        <%if (item.getTotalAnswer() < 1) {%>
        <div class="form-group">
            <input type="text" class="control-full poll-form-answer" id="" />
            <span class="btn-form icon-answer-plus"></span>
        </div>
        <%}%>
        <%if (item.getTotalAnswer() < 2) {%>
        <div class="form-group">
            <input type="text" class="control-full poll-form-answer" id="" />
            <span class="btn-form icon-answer-minus"></span>
        </div>
        <%}%>
    </div>
</div>
</div>