<!-- blog/tpl/blog-add.html -->
<div class="header">
	<div class="header-left">
		<div class="btn-top" rel="back">
			<%= _t('မလုိေတာ့ဘူး') %>
		</div>
	</div>
	<div class="header-right">
		<div class="btn-top disabled" id="save_btn"><%= _t('save') %></div>
	</div>
	<div class="header-center">
		<div class="title">
			<%= _t('add_new_blog') %>
		</div>
	</div>
</div>

<div class="content with-header swiper-container" id="content">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div id="blog-add">
				<div class="loading-initiator">
					<!-- Loading				 -->
				</div>
			</div>
		</div>
	</div>
</div>