<div class="pvs"></div>

<div class="form-title">
    *<%= _t('Location') %>
</div>
<div class="form-group">
    <select id="user_form_location" class="control-full">
        <option value=""><%=_t('Select')%></option>
        <%_.each(data.aLocations, function(aLocation) {%>
        <option value="<%=aLocation.country_iso%>" <%if (aLocation.country_iso == item.getCountryISO()) {%>selected="selected"<%}%>><%=aLocation.name%></option>
        <%});%>
    </select>
</div>
<div class="form-group" id="user_form_childs_holder">
</div>

<div class="form-title">
    <%= _t('City') %>
</div>
<div class="form-group">
    <input id="user_form_city" type="text" class="control-full text" placeholder="<%= _t('City') %>" value="<%= item.getCity() %>" />
</div>

<div class="form-title">
    <%= _t('ZIP / Postal Code') %>
</div>
<div class="form-group">
    <input id="user_form_zippostalcode" type="text" class="control-full text" placeholder="<%=_t('Zip / Postal Code')%>" value="<%=item.getZipPostalCode()%>" />
</div>

<div class="form-title">
    <%= _t('Date of Birth') %>
</div>
<div class="form-group group-span-inline clearfix">
    <input id="user_form_birthday" type="text" class="control-full text" value="<%= item.getDateOfBirthYMD() %>" readonly />
</div>

<div class="form-title">
    *<%= _t('Gender') %>
</div>
<div class="form-group">
    <select id="user_form_gender" class="control-full">
        <option value=""><%=_t('Select')%></option>
        <option value="1"<%if (item.getGender() == 'Male') {%> selected="selected"<%}%>><%= _t('Male') %></option>
        <option value="2"<%if (item.getGender() == 'Female') {%> selected="selected"<%}%>><%= _t('Female') %></option>
    </select>
</div>

<div class="form-title">
    <%= _t('About Me') %> 
</div>
<div class="form-group">
    <textarea id="user_form_aboutme" placeholder="About Me" class="control-full textarea"><%= item.getAboutMe() %></textarea>
</div>
