<div class="setting-list">
	<%if (item.isOwner()) {%>
		<a class="menu-item" href="#user-edit/<%=item.getId()%>"  ><%=_t('Edit Info')%></a>
		<a class="menu-item" id="<%=item.getDataId('editavatar')%>" rel="delegate"><%=_t('Edit Avatar')%></a>
		<a class="menu-item" id="<%=item.getDataId('editcover')%>" rel="delegate"><%=_t('Edit Cover')%></a>
	<%} else {%>
		<%if (item.canSendMessage()) {%>
		<a class="menu-item" href="#messages/compose/<%=item.getId()%>"><%= _t('Send Message') %></a>
		<%}%>
		<a class="menu-item" id="<%=item.getDataId('report')%>" rel="delegate"><%=_t('Report')%></a>
		<a class="menu-item" id="<%=item.getDataId('block')%>" rel="delegate">
		    <%=_t(item.isBlocked() ? 'Un-block' : 'Block')%>
		</a>
	<%}%>
</div>
