<div class="photo_detail_info" id="photo_title_<%= item.getId() %>">
    <div class="photo-headline">
        <span class="photo-title"><%=utils.str.shorten(item.getTitle(), 40, false)%></span>
        <%if (item.hasAlbum()) {%>
            <%=_t('in')%> <a href="<%=item.getAlbumUrl()%>" class="album-title"><%=utils.str.shorten(item.getAlbumTitle(), 40, false)%></a>
        <%}%>
    </div>
    <% if ( item.getDescription() ) { %>
    <div class="photo-status margin-bottom">
        <%= utils.str.shorten(item.getDescription(), 200, true) %>
    </div>
    <% } %>
    <div class="photo-info-author">
        <div class="photo-time">
            <i class="icon icon-time"></i>
            <span data-utime="<%= item.getTimestamp() %>" class="livetimestamp"><%= item.getLivetime() %></span>
        </div>
        <div class="photo-author">
            <a class="item-photo-author" href="<%= item.getPosterUrl() %>"><img src="<%= _.escape(item.getPosterImageSrc()) %>" /></a>
            <a href="<%= item.getPosterUrl() %>"><%= item.getPosterTitle() %></a>
        </div>        
    </div>
    <div class="clear clearfix"></div>
</div>
<div class="footer with-action">
    <div class="clearfix actions-justify gray">
        <div class="action-item <%= item.isLiked()?'liked':'' %>" id="<%= item.getDataId('like') %>" rel="delegate">
            <div class="sibling">                
                <i class="icon icon-activity-like"></i>
                <span class="text-label" data-suffix="true"><%= item.getLikeCountLabel() %></span>
            </div>
        </div>
        <% if(item.canComment()){%>
        <div class="action-item" id="<%= item.getDataId('comment') %>" rel="delegate"data-display="page">
			<i class="icon icon-activity-comment"></i>
            <span class="text-label" data-suffix="true"><%= item.getCommentCountLabel() %></span>
		</div>
        <%} %>
        <% if(item.canShare()) { %>
        <div class="action-item" id="<%= item.getDataId('share') %>" rel="delegate">
            <div class="sibling">
                <i class="icon icon-activity-share"></i>
                <span class="text-label" data-suffix="true"><%= item.getShareCountLabel() %></span>
            </div>
        </div>
        <%} %>
        <div class="action-item menu-item item-setting" id="<%= item.getDataId('setting') %>" rel="delegate">
            <div class="sibling">
               <span class="text-label"> <%=_t('More') %></span>
            </div>
        </div>
    </div>
    <div class="clear clearfix"></div>
</div>
