<!-- music/tpl/music-index.html-->
<div class="header">
	<div href="#" clickable="true" data-click="sidebar:toggle" class="header-left">
		<i class="icon icon-sidebar"></i>
	</div>
	<div class="header-center">
		<%= utils.helper.updater() %>
	</div>
</div>
<div id="search_view_holder">
<!-- Add search box in here -->
</div>
<div class="content with-header-footer with-search body-bg swiper-container" id="content">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div id="not_found" class="not-found hide">No albums found.</div>
			<div class="swiper-list vertical-align">
				<div id="song_list_view_holder">
				</div>
				<%= utils.helper.loadmore() %>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="clearfix menu-justify grid-2 fobos">
        <a class="menu-item" href="#music_playlists">
        	<div class=""><%= _t('Albums') %></div>
        </a>
        <a class="menu-item <% if(sView == 'all') print('current') %>" href="#music_songs">
        	<div class="sibling"><%= _t('Songs') %></div>
        </a>
        <a class="menu-item" href="#music_playlists/my">
        	<div class="sibling"><%= _t('My Albums') %></div>
        </a>
        <a class="menu-item <% if(sView == 'my') print('current') %>" href="#" clickable="true" data-click="music:open-more">
        	<div class="sibling"><%= _t('More') %></div>
        </a>
    </div>
</div>
