<div class="loading-initiator"></div>
<!-- <div class="setting-list"> -->
<!--     <a class="menu-item"> <span class="icon-privacy-status icon-privacy-everyone gray"> </span> Everyone </a> -->
<!--     <a class="menu-item"> <span class="icon-privacy-status icon-privacy-friends gray"></span> Friend </a> -->
<!--     <span class="icon-privacy-status icon-privacy-friends-of-friends active"></span> -->
<!--     <span class="icon-privacy-status icon-privacy-only-me"></span> -->
<!--     <span class="icon-privacy-status icon-privacy-custom gray"></span> -->
<!-- </div> -->
