<!-- user/tpl/edit-profile-info.html -->
<div class="header">
	<div class="header-left">
		<div class="btn-top" rel="back">
			<%= _t('cancel') %>
		</div>
	</div>
    <div class="header-right">
		<div class="btn-top disabled" id="save_btn">
			<%= _t('save') %>	
		</div>
	</div>
	<div class="header-center" href="#">
		<div class="title">
            <%= _t('edit_profile') %>
		</div>
	</div>
</div>

<!-- swiper -->
<div class="content content-background with-header swiper-container" id="content">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="swiper-list vertical">
                <div id="edit-profile-content">
                    <div class="loading-initiator"></div>
                </div>

			</div>
		</div>
	</div>
</div>


