<!-- user/tpl/signup/forgot-password.html -->
<div class="header">
	<div class="header-left">
		<div class="btn-top" rel="back">
			<%= _t('cancel') %>
		</div>
	</div>
	<div class="header-center">
		<div class="title"><%= _t('forgot_password') %></div>
	</div>
	<div class="header-right">
		<div class="btn-top" id="btn-send-email">
            <%= _t('send') %>
		</div>
	</div>
</div>
<div class="content with-header forgot-password swiper-container" id="content">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="form-general">
                <div class="form-title">
                    <%= _t('an_email_with_instruction_will_be_sent_to_your_email_below_to_reset_password') %>
                </div>
                <div class="form-group ">
                    <input placeholder="<%= _t('your_email') %>" type="email" name="email" id="email_to_reset_password"  value="" class="control-full text"  />
                </div>
			</div>
		</div>
	</div>
</div>
