<!-- activity/tpl/activity-detail.html -->
<div class="header">
	<div class="header-left">
		<div class="btn-top btn-back" rel="back">
		</div>
	</div>
	<div class="header-right">
		<div class="btn-top btn-more hide" id="top_menu_toggle">
		</div>
	</div>
	<div class="header-center">
		<div class="title" id="album_title">
			<%= _t('loading...') %>
		</div>
	</div>
</div>

<div id="top_menu_holder" class="top-menu hide"></div>

<div class="content content-background with-header swiper-container" id="content">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div id="album-detail-info" class="album-detail-info padding-base">
				<div id="photo_list_holder" class="photo-list clearfix">
					<div class="loading-initiator">
						<!-- Loading				 -->
					</div>	
				</div>
				<div id="album_action_bar_holder" class="album-action-bar"></div>				
			</div>
			<div id="activity_extra_holder" class="hide">
				<!-- loading activity extra -->
			</div>
		</div>
	</div>
</div>
