<div class="setting-list">
	<%if (item.canDislike()) {%>
	<div class="menu-item <%if (this.model.getDislikeCount() < 1) {%>hide<%}%>" id="dislike-list"></div>
    <div class="menu-item" id="<%=item.getDataId('dislike')%>" rel="delegate">
        <%= item.isDisliked() ? _t('Remove Dislike') : _t('Dislike')%>
    </div>
    <%}%>
    <%if (item.canEdit()) {%>
	<a class="menu-item" href="#blogs/edit/<%=item.getId()%>">
		<%= _t('Edit Blog') %>
	</a>
	<%}%>
	<%if (item.canDelete()) {%>
	<div class="menu-item" id="<%=item.getDataId('delete')%>" rel="delegate">
		<%= _t('Delete Blog') %>
	</div>
	<%}%>
</div>